[Desktop Entry]
Name=Task Manager
Comment=Easy to use application to monitor system resources
GenericName=Task Manager
Exec=xfce4-taskmanager
Icon=SysMonTask
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;
X-XFCE-Source=file:///data/data/com.termux/files/usr/share/applications/xfce4-taskmanager.desktop
Path=
