[Desktop Entry]
Version=1.0
Type=Application
Name=Music
Comment=Play Music
Exec=music
Icon=google-play-music-desktop-player
Path=
Terminal=true
StartupNotify=false
