[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Qt theme var
Comment=theme for qt
Exec=export QT_QPA_PLATFORMTHEME=qt5ct
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

