[Desktop Entry]
Version=1.0
Type=Application
Name=Music
Comment=Music Manager for MPV
Exec=music
Icon=com.github.artemanufrij.playmymusic
Path=
Terminal=true
StartupNotify=false
