[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch MailReader %u
Icon=org.xfce.mailreader
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/mailto;
X-AppStream-Ignore=True
Name=Mail Reader
Comment=Read your email
X-XFCE-Source=file:///data/data/com.termux/files/usr/share/applications/xfce4-mail-reader.desktop
