[Desktop Entry]
Version=1.0
Type=Application
Name=task manager 
Comment=manage your activities
Exec=htop
Icon=io.elementary.monitor
Path=
Terminal=true
StartupNotify=false
