[Desktop Entry]
Version=1.0
Type=Application
Name=Music Player
Comment=Music manager for mpv
Exec=music
Icon=com.github.artemanufrij.playmymusic
Path=
Terminal=true
StartupNotify=false
